.navbar {
  position: fixed;
  top: 0;
  background: rgba(26, 26, 26, 0.25);
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
  z-index: 1000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  justify-content: space-between; /* Aqui você pode alterar para 'space-between' ou 'center' */
}

/* Logo */
.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #20AAF9;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: auto; /* Faz a logo sair um pouco para a esquerda */
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #20AAF9;
  gap: 0.5rem; /* espaçamento entre ícone e texto */
}

.sims-icon {
  width: 32px;
  height: 32px;
}


/* Links de navegação */
.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Estilo dos links */
.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s, transform 0.3s;
  position: relative;
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background: #20AAF9;
  left: 0;
  bottom: -4px;
  transition: width 0.3s;
}

.nav-links a:hover {
  color: #20AAF9;
  transform: translateY(-2px);
}

.nav-links a:hover::after {
  width: 100%;
}
